{% if %}
{"encrypt": "{{ hostvars[groups['consul_servers'][0]]['consul_gossip_encryption_value'] }}"}
{% else %}
{"encrypt": "{{ hostvars[groups['consul_servers'][0]]['consul_gossip_encryption_value'] }}"}
{% endif %}